<h1>Add cat</h1>

<div>
    <form action="/add" method="POST">
        <div>
            <input type="text" name="cat_name" placeholder="Enter the cat's name">
        </div>
        <div>
            <input type="submit">
        </div>
    </form>
</div>