<h1>Cat spotter</h1>

<a href="/add">Add cat spotted</a>

<h2>Cat's spotted</h2>

<table>
    <tr>
        <th>Cat name</th>
        <th>Spotted count</th>
        <th></th>
    </tr>

    {{#each cats}}
        <tr>
        <td>{{cat_name}}</td>
        <td>{{spotted_count}}</td>
        <td>
            <form action="/spotted/{{id}}" method="post">
                <input type="hidden" name="cat_id" value="{{id}}">
                <input type="submit" value="Spotted">
            </form>
        </td>
    </tr>
    {{/each}}

    

</table>
